[submodule "MicroAV"]
	path = MicroAV
	url = https://github.com/YoungJonathanP/MicroAV
[submodule "jetson-tracker"]
	path = jetson-tracker
	url = https://github.com/alexlin2/jetson-tracker.git
[submodule "jetson-module"]
	path = jetson-module
	url = https://github.com/alexlin2/jetson-module.git
[submodule "mushr_ackermann_drive"]
	path = mushr_ackermann_drive
	url = https://github.com/alexlin2/mushr_ackermann_drive.git
[submodule "Vision/YOLOv5-s-detection"]
	path = Vision/YOLOv5-s-detection
	url = https://github.com/Head-inthe-Cloud/YOLOv5-s-detection.git
